HOST=0.0.0.0
PORT=1337
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified
ENCRYPTION_KEY=tobemodified

# Mailchimp
MAILCHIMP_API_KEY=
MAILCHIMP_SERVER_PREFIX=
MAILCHIMP_LIST_ID=
MAILCHIMP_FROM_NAME="Mining Discovery"
MAILCHIMP_REPLY_TO="noreply@miningdiscovery.com"
FRONTEND_URL="https://www.miningdiscovery.com"
STRAPI_URL="http://localhost:1337"
